<style>
    .mobile-search-container {
        display: none;
    }

    @media (max-width: 767px) {
        .mobile-search-container {
            display: flex;
        }
    }
</style>

<!-- Begin :: Search -->
<div class="search-container">
    <div class="search-wrapper">
        <div class="wrapper position-relative">
            <div class="search-logo--container">
                {% include "/components/logo.twig" | storefront_path %}
                <span class="search-close ph-x-fill"></span>
            </div>
            <div class="search-holder">
                <div class="search-holder--input">
                    <div class="input-wrapper has-icon">
                        <form action="{{ routes.all_products_url | preview_mode(preview_token) }}">
                            <input
                                    type="text"
                                    class="input-field input-field-lg search-input product-search-input"
                                    placeholder="Search"
                                    name="q"
                                    value=""
                            />
                            <button
                                    type="submit"
                                    class="input-icon input-icon-lg ph-magnifying-glass"
                            ></button>
                        </form>
                    </div>
                </div>
                <div class="search-dropdown">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End   :: Search -->
